{% load static %}
<html>
    <head>
        <title>
            {% block title %}
            My Site
            {% endblock %}
        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    </style>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/bc6eb907d9.js" crossorigin="anonymous"></script>
        <link href='{% static "css/blog.css" %}' rel="stylesheet">

    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        

        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'offer' %}">Oferta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_list' %}">Kursy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'artgallery' %}">Galeria</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
                    </li>    

                    {% if user.is_authenticated %}      
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_account' %}">Twoje konto</a>
                    </li> 
                    {% endif %}
                    {% if user.is_authenticated and user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_panel' %}">Panel admina</a>
                    </li>               
                    {% endif %}
                                       
                </ul>

                <ul class="nav navbar-nav my-2 my-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">Witaj, </span> 
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/">{{ request.user.username }}</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Wyloguj się</a>
                    </li>                    
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register"><span class="glyphicon glyphicon-user"></span> Rejestracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Logowanie</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
          </nav>
          <br />
          <div class="container">
                {% block content %}
                {% endblock %}
        </div>
    </body>
</html>
